<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="simplyworks" value="https://pkgs.dev.azure.com/simplify9/_packaging/SimplyWorks/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <simplyworks>
      <add key="Username" value="samer@simplify9.com" />
      <add key="ClearTextPassword" value="67obvj3qifgysdh3zt6gkprwj6uehppnu3re42ju2vpnoet24f2q" />
    </simplyworks>
  </packageSourceCredentials>
</configuration>
